In [ ]:
def sum(a): #123 '123' 3

  sum=0

  for i in range(len(str(a))): #range(3)
    digit = a%10 #123%10  #3 #2 #1
    sum+=digit #3 #3+2 #3+2+1
    a = int(a/10) #12

  print(sum)

sum(123)

sum(123456789)

6
45

In [ ]:
def factors(b):

  for i in range(1,b+1):
    if b%i==0:
      print(i,end=" ")
  print()

factors(12)
factors(24)

1 2 3 4 6 12
1 2 3 4 6 8 12 24

In [ ]:
a = input()

list1 = list(map(int,a.split()))

sort_list = sorted(list1) #1 24 25  # 1 # 25

for i in range(sort_list[0],sort_list[-1]):
  if i%2==0:
    print(i,end=" ")

1 24 25
2 4 6 8 10 12 14 16 18 20 22 24

In [ ]:
def anagram(str1,str2):
  if sorted(str1) == sorted(str2):
    print("the strings are anagrams")
  else:
    print("the strings are not anagrams")

anagram("listen","silent")

anagram("school master","the classroom")

the strings are anagrams
the strings are anagrams

In [ ]:
def greet(user="Guest"):
  print("Hello,",user)

greet("Prashanth")
greet()

Hello, Prashanth
Hello, Guest

In [ ]:
def power(base,exponent=2):
  return base**exponent


power(10,3)
power(5)
power(2,8)

256

In [ ]:
def multiply(list1,multiplier=1):
  sum = 0
  for i in list1:
    sum+=i
  multiplied_sum = multiplier*sum

  print(multiplied_sum)

multiply([1,2,3],2)

multiply([2,3,4],3)

multiply([1,4,3])

12
27
8

In [ ]:
def log(message,level='INFO'):
  print(f"[{level}],{message}")

log("server crashed")

log("client request accepted successfully")

log("account is in danger","Warning")

[INFO],server crashed
[INFO],client request accepted successfully
[Warning],account is in danger

In [ ]:
def area(length,width=None):
  if width:
    print("Area of rectangle",length*width)
  else:
    print("Area of square",length*length)

area(5,2)
area(5)

Area of rectangle 10
Area of square 25

In [ ]:
class Rectangle():

  def __init__(self,length,width):
    self.length=length
    self.width=width
    print("Length is,",self.length)
    print("Width is",self.width)
  def perimeter(self):
    print("The perimeter is :",2*(self.length+self.width))
  def area(self):
    print("The area is:",self.length*self.width)

r1 = Rectangle(12,2)
r1.perimeter()
r1.area()

r2=Rectangle(12,4)
r2.perimeter()
r2.area()

Length is, 12
Width is 2
The perimeter is : 28
The area is: 24
Length is, 12
Width is 4
The perimeter is : 32
The area is: 48

In [ ]:
class BankAccount():
  def __init__(self,balance):
    self.balance = balance
    print("Account created with Balance",self.balance)
  def deposit(self,deposit_amount):
    self.deposit_amount = deposit_amount
    print(self.deposit_amount,"deposited from",self.balance)
    self.balance = self.balance - self.deposit_amount
  def withdraw(self,withdraw_amount):
    self.withdraw_amount= withdraw_amount
    print(self.withdraw_amount,"credited to",self.balance)
    self.balance = self.balance + self.withdraw_amount
  def get_balance(self):
    print("Available balance is",self.balance)

b1=BankAccount(1000)
b1.deposit(500)
b1.withdraw(1500)
b1.get_balance()

Account created with Balance 1000
500 deposited from 1000
1500 credited to 500
Available balance is 2000

In [ ]:
class Grades():
  def __init__(self,name,number_of_subjects):
    self.name=name
    self.number_of_subjects=number_of_subjects
    self.sum=0
    print("Student name is",self.name)
    for i in range(self.number_of_subjects):
      self.grades=int(input("Enter marks"))
      self.sum+=self.grades
  def average(self):
    print(self.sum/self.number_of_subjects)

c1= Grades("Prashanth",5)
c1.average()

c2=Grades("RatnaTej",6)
c2.average()

Student name is Prashanth
Enter marks22
Enter marks33
Enter marks44
Enter marks55
Enter marks66
44.0
Student name is RatnaTej
Enter marks22
Enter marks44
Enter marks66
Enter marks88
Enter marks100
Enter marks99
69.83333333333333

In [ ]:
class circle():
  pi=3.14
  def area(self,radius):
    self.radius=radius
    print(circle.pi*self.radius**2)

c1=circle()
c1.area(2)
c1.area(3)

12.56
28.26

In [ ]:
class count():
  value=int(input("enter value"))
  def increment(self):
    count.value+=1
    print(count.value)
  def decrement(self):
    count.value-=1
    print(count.value)

c1=count()
c1.increment()
c1.increment()
c1.decrement()

enter value23
24
25
24

In [ ]:
class Book():
  def __init__(self,title,author,year):
    self.title=title
    self.author=author
    self.year=year
  def display(self):
    print("The title of the book is",self.title)
    print("The author of the book is",self.author)
    print("The year the book is published on is",self.year)

b1=Book("nenu naa picchi","nenu",1989)
b1.display()

The title of the book is nenu naa picchi
The author of the book is nenu
The year the book is published on is 1989

In [ ]:
class Employee():
  id_count=0
  def __init__(self,name):
    Employee.id_count+=1

    self.user_id=Employee.id_count
    self.name=name

    print(f"Employee id: {self.user_id} Employee name: {self.name}")


e1=Employee("Prashanth")
e2=Employee("Poornima")
e3=Employee("RatnaTej")

Employee id: 1 Employee name: Prashanth
Employee id: 2 Employee name: Poornima
Employee id: 3 Employee name: RatnaTej

In [ ]:
class temp():
  def __init__(self,celsius):
    self.celsius=celsius
    print("Temperature in celsius",self.celsius)


  def farenheit(self):

    # (0°C x 9/5) + 32 = 32°F

    self.farenheit= (self.celsius * (9/5)) + 32
    print("Temperature in Farenheit",self.farenheit)

  def kelvin(self):

    # 0°C + 273.15 = 273.15K

    self.kelvin = (self.celsius + 273.15)
    print("Temperature in Kelvin",self.kelvin)


cel_temp=int(input("Enter temperature in celsius: "))

t1=temp(cel_temp)
t1.farenheit()
t1.kelvin()

Enter temperature in celsius: 39
Temperature in celsius 39
Temperature in Farenheit 102.2
Temperature in Kelvin 312.15

In [ ]:
class list_cons():
  def __init__(self,list1):
    self.list1=list1
    print(self.list1)
  def sum(self):
    self.sum=0
    for i in self.list1:
      self.sum=self.sum+i
    print(self.sum)
  def max(self):
    print(max(self.list1))

l1=list_cons([1,2,3,4,5,6,7,8,9,10])
l1.sum()
l1.max()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
10

In [ ]:
class Shapes():
  def __init__(self,name):
    self.name = name
    print(self.name)

class circle(Shapes):
  def __init__(self):
    super().__init__("Circle")

class rectangle(Shapes):
  def __init__(self):
    super().__init__("Rectangle")


c = circle()
r = rectangle()

Circle
Rectangle