# 28. Write a program to print whether a given number is prime number or not

In [1]:
# Examples; 2,3,5,7,11,13,17,....................

In [4]:
# means 
# a prime number is a number which is divisible by 1 and itself only. And not divisible  by any other number.

In [23]:
# means if a number is divisible by 2 or 3 or 4 or 5 or...............
# then it is not a prime

In [24]:
# 0 is neither prime nor composite

In [25]:
# -ve numbers can't be prime

In [26]:
n=9
def is_prime(n):
    for n in range (2,n):
        print(n)

is_prime(n)

2
3
4
5
6
7
8

In [37]:
n=int(input("Enter a number : "))

def is_prime(n):
    for i in range (2,n):
        if n%i==0 and n>0:
            print(f"{n} is not a prime number")
            break
        elif n==0:
            print(f"{n} is neither prime nor composite")
        elif n==1 or n<0:
            print(f"{n} is not a prime number")
        else:
            print(f"{n} is a prime number")
                   
                
        
is_prime(n)

Enter a number : 9
9 is a prime number
9 is not a prime number

In [24]:
n=int(input("Enter a number : "))

def is_prime(n):
    
    # base conditions
    if n==0:
        print(f"{n} is neither prime nor composite number")
    elif n<0 or n==1: 
        print(f"{n} is not a prime number")
    elif n==2:
        print(f"{n} is a prime number")
    # main logic
    else:
        for i in range (2,n):
            if n%i==0:
                print(f"{n} is not a prime number")
                break     # break is used to get out of a loop      
            else:
                print(f"{n} is a prime number")
                break     # break is used to get out of a loop       
                
        
is_prime(n)

Enter a number : 19
19 is a prime number

In [72]:
# why 9 is prime
# check why??????
# tomorrow

# 29. Print all the armstrong numbers in the range 100-1000

In [38]:
# 101,102,103,......................,999

In [40]:
1**3+5**3+3**3

153

In [45]:
(153%1000)//100

1

In [47]:
(153%100)//10

5

In [48]:
(153%10)//1

3

In [61]:
n=int(input("Enter a number in the range 100-1000 : "))


def armstrong_range_100_t0_1000(n):
    if 100<n<1000:
        n1=(n%1000)//100
        n2=(n%100)//10
        n3=(n%10)//1
        if n==(n1**3)+(n2**3)+(n3**3):
            print(f"{n} is an armstrong number")
        else:
            print(f"{n} is not an armstrong number")
        
    else:
        print("Not in the range 100-1000. Enter again")

armstrong_range_100_t0_1000(n)

Enter a number in the range 100-1000 : 371
371 is an armstrong number

# 30. The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
    10th year - 10000
    9th year - 9000
    8th year - 8100 and so on

In [62]:
10000*(10/100)

1000.0

In [96]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [105]:
current_population = 10000


rate=current_population*(10/100)
current_population -= rate
for i in range(10,0,-1):
    print(f"{i}  year population is {current_population}")

10  year population is 9000.0
9  year population is 9000.0
8  year population is 9000.0
7  year population is 9000.0
6  year population is 9000.0
5  year population is 9000.0
4  year population is 9000.0
3  year population is 9000.0
2  year population is 9000.0
1  year population is 9000.0

In [104]:
current_population = 10000

print(f"10 year population is {current_population}")

for i in range(9,0,-1):
    rate=current_population*(10/100)
    current_population -= rate
    print(f"{i}  year population is {current_population}")

10 year population is 10000
9  year population is 9000.0
8  year population is 8100.0
7  year population is 7290.0
6  year population is 6561.0
5  year population is 5904.9
4  year population is 5314.41
3  year population is 4782.969
2  year population is 4304.6721
1  year population is 3874.20489

# 31. Write a program to print all unique combinations of 1,2,3 and 4

In [114]:
L=[1,2,3,4]

for i in range(4):
    for j in range(4):
        for k in range(4):
            for l in range(4):
                
                # check if the indexes are not same
                if (i!=j and j!=k and k!=l and l!=i and i!=k and j!=l and k!=i):
                    print(L[i],L[j],L[k],L[l])

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

# 32. User will provide 2 numbers you have to find the HCF of those 2 numbers

In [118]:
# HCF of 24 and 36.

# Factors of 24 : 1,2,3,4,6,8,12,24
# Factors of 36 : 1,2,3,4,6,9,12,18,36
    
# The common factors are 1,2,3,4,6,12

# And the highest common factor(HCF) is 12

In [22]:
# HCF is that factor which is divisble by both numbers and is maximum

In [15]:
num_1=int(input("Enter first number : "))
num_2=int(input("Enter second number : "))

def HCF(num_1,num_2):
    if num_1<num_2:
        smaller=num_1
    else:
        smaller=num_2
        
    for i in range(1,smaller+1):
        if (num_1%i==0) and (num_2%i==0):
            hcf=i
    return hcf

print(f"The HCF of {num_1} and {num_2} is {HCF(num_1,num_2)}")

Enter first number : 24
Enter second number : 36
The HCF of 24 and 36 is 12

# 33. User will provide 2 numbers you have to find the LCM of those 2 numbers

In [ ]:
# LCM of 24 and 36 :
#    24/2 and 36/2    -----> 2
#    >12 and 18
#    >12/2 and 18/2   -----> 2
#    >6 and 9
#    >6/3 and 9/3     -----> 3
#    >2 and 3         -----> 2 and 3
    
# LCM=2*2*3*2*3=72

In [8]:
2*2*3*2*3

72

In [ ]:
# LCM(a,b)=(a*b)/HCF(a,b)

In [22]:
num_1=int(input("Enter first number : "))
num_2=int(input("Enter second number : "))

def LCM(num_1,num_2):
    if num_1<num_2:
        smaller=num_1
    else:
        smaller=num_2   
    for i in range(1,smaller+1):
        if (num_1%i==0) and (num_2%i==0):
            hcf=i
    return ((num_1*num_2)/hcf)

print(f"The LCM of {num_1} and {num_2} is {LCM(num_1,num_2)}")

Enter first number : 24
Enter second number : 36
The LCM of 24 and 36 is 72.0

# 34. Print the first 25 prime numbers

In [37]:
# Examples; 2,3,5,7,11,13,17,....................

# means 
# a prime number is a number which is divisible by 1 and itself only. And not divisible  by any other number.

# means if a number is divisible by 2 or 3 or 4 or 5 or...............n-1
# then it is not a prime

# 0 is neither prime nor composite

# -ve numbers can't be prime

In [6]:
for i in range(2,51):
    for j in range(2,51):
        if i%j!=0:
            print(i)
        break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [8]:
L=[]

for i in range(2,51):
    L.append(i)
print(L)
len(L)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

49

In [11]:
L=[]

for i in range(2,51):
    if len(L)<25:
        L.append(i)
        
print(L)
len(L)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

25

# 35. Print the first 20 numbers of a Fibonacci series